
header{
  margin:0;
  padding:0;

}
footer{
  background-color: #000;
  height: 150px;
  margin-top: 30px;

}
.footer2{
  margin-top: 30px;
}
/* Aden est l'id du Body des cartes Humaines */
.Aden{

  margin:0;
  padding:0;
  
}
.Ecarlate {
  margin:0;
  padding:0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),url("Ima/LonginusSpear01-transformed.webp");
  object-fit: cover;
}
.bannAden{background-image: linear-gradient(rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)), url(IMA/AionEnv.jpg);
}
.bannEcarlate{background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url(IMA/LonginusSpear01-transformed.webp);
}
.bannNecro{background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url(IMA/NecroBann.jpg);
}
body{
  background: rgb(5,11,79);
  background: linear-gradient(90deg, rgba(5,11,79,1) 2%, rgba(27,74,190,1) 46%, rgba(5,16,66,1) 99%);
  margin:0;
  padding:0;
}
  #Head{
    display:flex;
    background-color: #000;
  justify-content: space-around;
  align-items: center;

    color:#FFF;
  
  }

  .footer1{
    display:flex;
    justify-content:space-evenly;
    align-content: center;
    margin-top: 40px;
    
  }
  .barmenu{
  justify-content: space-around;
    display:flex;
    
  }
  .Centrebannière1{
    justify-content: center;
    display:flex;
  }
  .ligne{
    margin-top: 10px;
    border: 1px solid #e0a94f;
  }
  .TextIntro{
    font-size:24px;
    font-family: luxurious roman;
  }
  .achat{
   justify-content: flex-end;
  }
  .logo {
  width: 20%;
  object-fit: contain;
    
  }
  .bann /* Bannière */{
  
    background-size: 100% auto;
    background-position: center;
    color:#FFF;

    height: 400px;
    display:flex;
    justify-content:center;
    align-items:center;
  
  }
  .bannindex {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)), url(IMA/SvN.jpg);
  }

  .BanTitre{
  
    font-size:24px;
    font-family: luxurious roman;
    color: #FFDD8E;
  
  
  
  }
  .TextIntro /* texte introductif entre 2 ligne dorées */{
    font-size:32px;
    font-family: luxurious roman;
    display: flex;
    justify-content: center;
    color:#EEB97B;
    margin-top: 5px;
  }
  .Part1{
    margin-top: 15px;
    color:#EEB97B;
    font-size: 22px;
  }
  .Button{
    align-content:center;
  
    font-size:24px;
    font-family: luxurious roman;
    width:165px;
    background-color:#000;
    border: 3px solid #C0C0C0;
    border-radius:10px;
   
    margin-left:100px;
    margin-top: 20px;
  }
  buttonplace{
    margin-left:200px;
  }
  /* Début Couleur des bouttons et enlevements du surligneurs sur les liens */
  .ButtonDes{
    color: #C0C0C0;
    padding-left: 5px;
  }
    a:link {
      text-decoration:none;
    }
  a:visited {
    text-decoration:none;
  }
  a:hover {
    text-decoration:none;
  }
  a:active {
    text-decoration:none;
  }
  /* Fin de la parenthèse Couleur des bouttons et enlevements du surligneurs sur les liens */
  .id {
    color:#FFF;
    display:flex;
    
  }
  .block1 /* Block contenant les 3 cartes alignés */{
    margin-top: 100px;
    display:flex;
    justify-content: space-around;
    height:500 px;
  }
  .Effet /* texte des cartes */ {
    background-color:#FFDD8E ;
    Color:#000;
    border: 3px solid;
    border-radius: 10px;
    border-color:#C0C0C0;
    margin: 3% 3%;
    padding: 2% 2%;
    height:100px;
    align-items:center;
  }
  
  .Perso /* Corps des cartes */{
    border: 5px solid ;
    border-radius: 10px;
  
  
    margin-right:40 px;
  
    width: 30%;
  
  
  }
  /* Début Style des bordures des cartes */
  .Légendaire {
    border-image: radial-gradient(#3723d4, #a85ceb , #cf0c79, #8ebdff ) 4;
  }
  .Epique{
    border-image: linear-gradient( #ffb829,  #fbf078 , #fbd62a ) 4;
  }
  .Rare{
     border-image: linear-gradient( #7d776d ,#cbbea4,  #e8e5c9 , #9e9777 ) 4;
    
  }
  .Commun{
    border-image: linear-gradient( #8f5925 ,#db9b46,  #e0a94f , #b36d29 ) 4;
  }
    /* Fin Style des bordures des cartes */
  .Sper /* Bordure des images sur les cartes */{
   
    font-size: 14px;
    color:#7C7561;
    border-radius: 0px;
    background-color:#EEEEEE;
  
    
  }
  
  .BlockCarte /* Block sur les cartes et descriptions à coté */ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 120px;
  
  }
  .BlockCarte1 /* Block sur les cartes artefact et magiques*/ {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
  
  }
  .intromarge /* marge pour les textes sur index.html */ {
    margin-left: 40px;
    margin-right: 40px;
  }
  .marge{
    margin-left: 230px;
    
  }
  .BlockTuto /* Block les cartes + texte en bas */ {
    width: auto;
  }
  .Tutoriel /*mise en page du block avec text sous les cartes index.html */ {
    width:336px;
    margin-top: 10px;
  }


 .Présentation /* Présentation Texte de la 1er page index.html */{
    color:#FFF;

 }
 .Cadre{
  display:flex;
  
 }
 .Espace{
  margin-left: 20px;
 }

 .Description /* Présentation du block entre les images/texte sur index.html */ {
  margin-left: 70px;
  font-size: 18px;

 }
  .ImpTitre /* Titre important */ {
    text-shadow:
    0 0 7px #45a3ef,
    0 0 10px #228feb,
    0 0 21px #228feb,
    0 0 42px #2f65eb,
    0 0 82px #2f65eb,
    0 0 92px #07175d,
    0 0 151px #07175d;
  }
  
  .T2 /* Nom des Cartes */{
    text-align:center;
    font-size: 20px;
    font-family:luxurious roman;
    color:#C0C0C0;
    margin-right: 10%;
  
    margin-left: 10%;
    border-radius: 10px;
    border: 1px solid;
    border-color:#C0C0C0 ;
  
  
  } 
  .Héros /* Nom des Cartes pour les Héros */{
    text-align:center;
    font-size: 20px;
    font-family:luxurious roman;
    color:#EEB97B;
    margin-right: 10%;
  
    margin-left: 10%;
    border-radius: 10px;
    border: 1px solid;
    border-color:#EEB97B;
  
  
  } 
  
  
  #def{
    width:50px;
    height: 60px;
    object-fit:contain;
    margin-top: 4px;
  
  }
  #Att{
    width:50px;
    height: 60px;
    align-self: flex-start;
    object-fit:contain;
    margin-top: 3px;
  
  }
  .cardfoot /*Bas des cartes */ {
    display: flex;
  
    justify-content: space-between;
  }
  /* Début Couleurs uniformes des types de cartes */
  .Monstre{
    background-color:#000 ;
  }
  .Magie{
     background-color:#103274
  }
  .Artéfact{
     background-color:#4E4F4E ;
  }
    /* Fin Couleurs uniformes des types de cartes */
  .Aslot{
    position: relative;
  }
  .Dslot{
   position: relative;
  
  }
  .ValD{
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 20px;
    font-family:luxurious roman;
    color:#FFF;
  
  }
  .ValA{
    position: absolute;
    margin-left: 24px;
    margin-top: 26px;
    font-size: 20px;
    font-family:luxurious roman;
    color:#FB090F;
  }
  .Type /* Police de la type de la carte */{
    font-size: 18px;
    font-family:luxurious roman;
    color:#C0C0C0;
    justify-content: center;
    margin-bottom: 2px;
    align-self: center;
  
  
  }
  .Type p{
    margin: 0;
  }
  
  .Mort {
     margin-left: 18px;
  }
  .bg3 /* Images à l'intérieur des cartes */{
    width: 70%;
    height: 70%;
    min-height: 300px;
    border: 5px solid;
    box-shadow: 1px 1px 1px 1px;
    border-image: linear-gradient( #909095,  #f4f6f6 , #9a9999) 4;
    border-radius: 1px;
    margin-right:10%;
    margin-left:15%;
    margin-top:8%;
    
    max-height: 260px;
  }
  .Spécial{
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
  }
  .Spécialoeilrouge{
    align-items: center;
    margin-top: 15px;
    margin-left: 25px;
  }
  .SpécialElu{
    align-items: center;
    margin-top: 15px;
    margin-left: 28px;
  }
.Try{
  animation: scroll 15s 0.5s linear infinite;
}
.Article{
  background-image:linear-gradient(30deg, #ffb829,  #fbf078 , #fbd62a );
  background-clip:text;
  color:transparent;
  /*display:flex;*/

}
/* en attente linear-gradient( #ffb829,  #fbf078 , #fbd62a ) 4
linear-gradient( #7d776d ,#cbbea4,  #e8e5c9 , #9e9777 ) 4
linear-gradient( #8f5925 ,#db9b46,  #e0a94f , #b36d29 ) 4

 /*

